@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    width: 100%;
    min-height: 100vh;
    font-family: 'Ubuntu', sans-serif;
    background: #fff;
    overflow-y: overlay;
    color: #fff;
    overflow-x: hidden;
}

/* ===== for the scrollbar ===== */
::-webkit-scrollbar {
    width: 3px;
}

::-webkit-scrollbar:hover {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 100vh;
}

::-webkit-scrollbar-track:hover {
    background: #999;
}

::-webkit-scrollbar-thumb {
    background: #F8AF5B;
    border-radius: 100vh;
}
/* ===== end of the scrollbar ===== */


/* ===== for the Header ===== */

.header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 40px 50px;
    position: fixed;
    background: #F8AF5B;
    z-index: 100;
    transition: 0.5s;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.5);
}

.header[data-scroll="in"] {
    padding: 10px 50px;
    box-shadow: inset -2px -1px 3px rgba(255, 255, 255, 0.3);
}

.logo {
    font-size: 4px;
    cursor: pointer;
}

nav {
    position: relative;
}

nav .bar {
    position: absolute;
    right: 50px;
    font-size: 25px;
    margin-top: -10px;
    cursor: pointer;
    display: none;
    z-index: 1000;
}


nav a:hover {
    border-bottom: 3px solid #FF7C03;
  }
  
nav a.test {
    border-bottom: 3px solid #FF7C03;
  }
nav .bar .close{
    display: none;
}
nav .bar.active .open{
    display: none;
}
nav .bar.active .close{
    display: initial;
}

nav ul {
    display: flex;
}

nav ul li {
    list-style: none;
    margin: 0 25px;
}

nav ul li a {
    text-decoration: none;
    color: #000;
    font-size: 12px;
}

nav ul li:hover a {
    color: #fff;
}
/* ----------------- for the language------------- */
.language-selector {
    position: relative;
  }
  
  .current-language {
    background-color: transparent;
    border: none;
    color: #000;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 12px;
  }
  
  .current-language img {
    width: 30px;
    height: 19px;
    margin-right: 5px;
  }
  
  .language-list {
    color: #000;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    list-style: none;
    padding: 0;
    margin: 0;
    border: 1px solid #ccc;
  }
  
  .language-list.active {
    display: block;
  }
  
  .language-list li {
    display: flex;
    padding: 10px;
    cursor: pointer;
    font-size: 12px;
    margin: 0;
    

  }

  .language-list li .brazil {
color: red;
  }
   .language-list li img {
    width: 30px;
   }
  .language-list li:hover {
    background-color: #f0f0f0;
    color: #FF7C03;
  }
/* ===== end of the Header ===== */



/* ============ for the btn ============ */

.buttons {
    margin-top: 40px;
    padding-bottom: 2rem;
}

.btn {
    padding: 10px 35px;
    border-radius: 5px;
    font-size: 16px;
    background: transparent;
    border: 2px solid #FF7C03;
    cursor: pointer;
    color: black;
    transition: 0.3s;
}
.btn a {
    text-decoration: none;
    color: #FF7C03 ;
    transition: 0.3s;
}
.btn:hover a {
    color: #fff;
}
.btn:hover {
    background: #FF7C03;
    color: #000;
    transform: scale(1.1);
}
/* ============ for the btn ============ */



/* ============= for the carousel ================ */
.slideshow-container {
    max-width: cover;
    position: relative;
    margin: auto;
  
  }

  /* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: #FF7C03;
    font-weight: bolder;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    text-decoration: none;
  }

  /* Position the "next button" to the right */
.next {
    font-size: 2.5rem;
    padding: 3rem;
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev {
    font-size: 2.5rem;
    padding: 3rem;
  left: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {

    background-color: rgba(0,0,0,0.8);
  }

  /* Caption text */
.text {
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }

  /* Number text (1/3 etc) */
.numbertext {
    color: #FF7C03;
    font-size: 12px;
    padding: 20px 12px;
    position: absolute;
    top: 0;
  }

  /* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    margin-bottom: 5rem;
  }

  .try, .dot:hover {
    background-color: #FF7C03;
  }
  
  /* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

.main {
    margin-top: 9rem;
}

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
    .main {
        margin-top: -10rem;
    }

  }

/* ============== end for carousel ================== */






/* ================= for the experience section ==================== */
#experience {
    background: #fff;
    padding-block: 100px;
    overflow-x: hidden;
    margin-top: -120px;
}

.title {
    position: relative;
    height: 30px;
    margin-bottom: 30px;

}

.title span {
    display: inline-block;
    font-size: 30px;
    padding: 0 10px;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    /* z-index: 10; */
}

#experience .title span {
    background: #fff;
    color: #FF7C03;
    font-weight: bold;
}

.title:before {
    content: '';
    width: 800px;
    height: 3px;
    background: #F8AF5B;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 50%;
}

#experience .container {
    display: flex;
    justify-content: center;
    padding-inline: 100px;
}

.experience .caption {
    font-size: 11px;
    padding: 1px 60px;
    color: #777;
    font-weight: 400;
}

/* ================== for the 3 columns ===================== */
.card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    margin: 20px;
    margin-bottom: -3rem;
}

.card {
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.4);
    background-color: #fff;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}

.card h3 {
    font-size: 15px;
    color: #FF7C03;
}

.card p {
    font-size: 12px;
}


.card-image {
    width: 200px;
    height: 160px;
    object-fit: cover;
    border-radius: 10px;
}

.card-title {
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
}

.card-definition {
    margin-top: 10px;
    height: 40px;
    overflow: hidden;
    color: black;
}

.btn-read-more {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}


.btn-read-more {
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 10px;
    background: transparent;
    border: 1px solid #FF7C03;
    cursor: pointer;
    color: black;
    transition: 0.3s;
}
.btn-read-more a {
    text-decoration: none;
    color: #FF7C03 ;
    transition: 0.3s;
}
.btn-read-more:hover a {
    color: #fff;
}
.btn-read-more:hover {
    background: #FF7C03;
    color: #000;
    transform: scale(1.1);
}

.card-modal-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 9999;
    padding: 20px;
}

.card-modal-content {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    text-align: center;
}


.btn-close {
    font-size: 10px;
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 10px;
    color: #fff;
    border: 1px solid #FF7C03;
    background-color: #FF7C03;
    border-radius: 5px;
    cursor: pointer;
}

.btn-close:hover {
    color: #FF7C03;
    background: transparent;
}

.card-modal-content .card-definition-full {
    margin-bottom: 10px;
    border-radius: none;
}

.card-modal-content .card-definition-full  {
    display: flex;
    justify-content: center;
    text-align: justify;


}

.card-definition-full small {
    color: #FF7C03;
    font-size: 14px;
    padding-left: 1rem;
    justify-content: center;
    padding-top: 3rem;
    padding-right: 3rem;

}

.card-modal-content .card-definition-full img {
    width: 300px;
    
}
/* ---------------- for reminder --------------------- */
.reminder {
    padding: 20px;
    background-image: linear-gradient(to right, #FF7C03, #f5b469);
    margin: 1rem;
    margin-top: -4rem;
    background-color: #f44336;
    font-size: 12px;
    color: white;
  }
  
  .closeReminderbtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 15px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .closeReminderbtn:hover {
    color: black;
  }


@media screen and (max-width: 767px) {
    .card-container {
        grid-template-columns: 1fr;
        padding: 20px 40px;
      
    }
 
    .card-image {
        width: 160px;
        height: 170px;
    }
    .card-modal-content .card-definition-full img {
        width: 100px;
    }

    .card-modal-content .card-definition-full  {
        display: block;
        align-items: center;
        justify-content: center;
        text-align: justify;
        width: 300px;
        height: 550px;
        overflow: auto;
    
    
    }
    /* .card-modal-overlay {
        margin: 50px;
    } */

}
/* ================== for the 3 columns ===================== */



/* ======================= Responsive ============================================= */

@media (max-width:1024px) {
    .header {
        padding: 40px 25px;
    }
    .header[data-scroll="in"] {
        padding: 10px 25px;
    }

    nav ul li {
        margin: 0 20px;
    }

   
}

@media (max-width:768px) {
    
    nav ul{
        opacity: 0;
        pointer-events: none;
        flex-direction: column;
        position: absolute;
        align-items: center;
        z-index: 100;
        right: -10px;
        border-radius: 5px;
        padding: 30px 40px 10px;
        background: #F8AF5B;
        box-shadow: 0 2px 4px 0 rgba(0,0,0,.5);
        transition: 0.5s;

    }
    nav ul.active{
        opacity: 1;
        pointer-events: all;
    }
    nav ul li{
        margin: 8px 0;
    }
    nav .bar{
        display: initial;
        right: 56;
    }

   
    .topBtn {
        width: 35px;
        height: 35px;
        right: 35px;
    }
    .topBtn i {
        font-size: 20px;
    }
}

@media (max-width:630px) {
    .header {
        padding: 25px 50px;
    }
    .header[data-scroll="in"] {
        padding: 10px 50px;
    }
    .logo {
        font-size: 35px;
    }
    nav .bar {
        right: 35px;
    }
    nav ul {
        flex-direction: column;
        position: absolute;
        align-items: center;
        z-index: 100;
        right: -30px;
        border-radius: 5px;
        padding: 30px 40px 10px;
        background: #F8AF5B;
    }

    .main {
        margin-top: 100px;
    }
    .footer {
        padding: 10px 20px;;
    }
    .footer .socialIcons a i {
        font-size: 25px;
        margin: 0 7px;
    }
    .footer .copy{
        font-size: 12px;
    }


   
}

@media (max-width:425px) {
    nav ul li a {
        font-size: 14px;
    }
    nav .bar {
        right: 30px;
    }    


    .footer .socialIcons a i {
        font-size: 12px;
        margin: 0px 5px;
    }
    .title span {
        font-size: 22px;
    }
    .title:before {
        width: 240px;
        top: 42%;
    }
    .header .logo img {
        width: 70px;
        padding: 0;
    }

    #f-footer ul li {
        padding: 0;
    }

}



/* =================== footer  ============================ */

#f-footer {

    background: #121212;
    /* padding: 1px; */
    /* overflow-x: hidden; */
}

/* #f-footer span {
    background-color: #121212;
} */

#f-footer ul {
    display: flex;
    justify-content: center;
    text-decoration: none;


}

#f-footer ul li {

    list-style: none;
    padding: 20px 30px;
    margin: 20px;

}

#f-footer ul li a {

    text-decoration: none;
    color: #FF7C03;
    font-size: 10px;
}


 #f-footer ul li:hover a {
    color: white
} 
.f-footer hr {
border: none; 
  height:  2px; 
  background-color: #F8AF5B; 
  margin-left: -20px;
  padding-right: -40rem;
  margin-left: 40px; 
  margin-right: 40px; 
  margin-top: -20px;
}
.footer {
    background-color: #413E3E;
    display: flex;
    justify-content: space-between;
    padding: 5px 20px;
    align-items: center;
    box-shadow: 0 -1px 2px rgba(255, 255, 255, 0.2);
}
.footer h6{
    padding-left: 10px;
    color: #FF7C03;
    margin-bottom: -8px;
}
.footer .socialIcons a i {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    margin: 0 10px;
    color:black;
    transition: 0.5s;
    cursor: pointer;
}
.copy {
    font-size: 10px;
    color: #000;
}

.footer .socialIcons a:hover i {
    transform: translateY(-10px) scale(1.2);
    color: rgba(0, 182, 182);
}

.topBtn {
    width: 45px;
    height: 45px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 60px;
    right: 50px;
    cursor: pointer;
}

.topBtn i {
    font-weight: 2rem;
    font-size: 35px;
    color: #FF7C03;
    text-decoration: none;
    
}

@media (max-width:1024px) {
    .header {
        padding: 40px 25px;
    }
    .header[data-scroll="in"] {
        padding: 10px 25px;
    }

    nav ul li {
        margin: 0 20px;
    }


}

@media (max-width:768px) {
    
    nav ul{
        opacity: 0;
        pointer-events: none;
        flex-direction: column;
        position: absolute;
        align-items: center;
        z-index: 100;
        right: -10px;
        border-radius: 5px;
        padding: 30px 40px 10px;
        background: #F8AF5B;
        box-shadow: 0 2px 4px 0 rgba(0,0,0,.5);
        transition: 0.5s;

    }
    nav ul.active{
        opacity: 1;
        pointer-events: all;
    }
    nav ul li{
        margin: 8px 0;
    }
    nav .bar{
        display: initial;
        right: 56;
    }


    

    .home .text h1 {
        font-size: 45px;
        line-height: 70px;
    }

    .home .text>span {
        font-size: 14px;
    }
    .home .text h3 {
        font-size: 23px;
    }
    .image {
        width: 350px;
        height: 400px;
    }
    .image img {
        width: 300px;
        position: absolute;
        bottom: 0;
    }
    .home {
        padding-top: 150px;
    }
    #about .container {
        flex-direction: column;
        align-items: center;
    }
    .aboutText {
        padding-top: 10px;
    }
    .serviceBox {
        flex-wrap: wrap;
    }
    .serviceBox .box {
        width: 275px;
    }
   
    .topBtn {
        width: 35px;
        height: 35px;
        right: 35px;
    }
    .topBtn i {
        font-size: 20px;
    }
}

@media (max-width:630px) {
    .header {
        padding: 25px 50px;
    }
    .header[data-scroll="in"] {
        padding: 10px 50px;
    }
    .logo {
        font-size: 35px;
    }
    nav .bar {
        right: 35px;
    }
    nav ul {
        flex-direction: column;
        position: absolute;
        align-items: center;
        z-index: 100;
        right: -30px;
        border-radius: 5px;
        padding: 30px 40px 10px;
        background: #F8AF5B;
    }
    .home {
        padding-top: 120px;
        height: 100vh;
    }
    
    .image {
        display: none;
    }
    .home .text {
        margin-top: 30px;
        padding-bottom: 50px;
    }
    .aboutText {
        width: 275px;
    }
    #about .container .img {
        margin-right: 0px;
    }
    .container .aboutText h2 {
        padding: 10px 0;
    }

    .left p {
        font-size: 14px;
    }
    .left .text {
        font-size: 23px;
    }
    #contact {
        padding: 50px 20px;
    }
    .contactBox .left span {
        font-size: 23px;
        line-height: 55px;
    }
    .contactBox .right span {
        font-size: 23px;
        line-height: 55px;
    }
    .infoBox .user div {
        font-size: 16px;
    }
    .infoBox i {
        font-size: 23px;
        margin-right: 25px;
    }
    .footer {
        padding: 10px 20px;;
    }
    .footer .socialIcons a i {
        font-size: 25px;
        margin: 0 7px;
    }
    .footer .copy{
        font-size: 12px;
    }
    .topBtn{
        bottom: 55px;
    }
    .carousel-container i:last-child {
        right: 40px;
    }
   
}

@media (max-width:425px) {
    nav ul li a {
        font-size: 14px;
    }
    nav .bar {
        right: 30px;
    }    


    .footer .socialIcons a i {
        font-size: 12px;
        margin: 0px 5px;
    }
    .title span {
        font-size: 22px;
    }
    .title:before {
        width: 240px;
        top: 42%;
    }
    .header .logo img {
        width: 70px;
        padding: 0;
    }

    #f-footer ul li {
        padding: 0;
    }
    .home {
        margin-bottom: -15rem;
    }
}