@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    width: 100%;
    min-height: 100vh;
    font-family: 'Ubuntu', sans-serif;
    background: #fff;
    overflow-y: overlay;
    color: #fff;
    overflow-x: hidden;
}

/* ===== for the scrollbar ===== */
::-webkit-scrollbar {
    width: 3px;
}

::-webkit-scrollbar:hover {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 100vh;
}

::-webkit-scrollbar-track:hover {
    background: #999;
}

::-webkit-scrollbar-thumb {
    background: #F8AF5B;
    border-radius: 100vh;
}

/* ===== end of the scrollbar ===== */

/* ===== for the Header ===== */

.header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 40px 50px;
    position: fixed;
    background: #F8AF5B;
    z-index: 100;
    transition: 0.5s;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .5);
}

.header[data-scroll="in"] {
    padding: 10px 50px;
    box-shadow: inset -2px -1px 3px rgba(255, 255, 255, 0.3);
}

.logo {
    font-size: 4px;
    cursor: pointer;
}

nav {
    position: relative;
}

nav .bar {
    position: absolute;
    right: 50px;
    font-size: 25px;
    margin-top: -10px;
    cursor: pointer;
    display: none;
    z-index: 1000;
}


nav a:hover {
    border-bottom: 3px solid #FF7C03;
}

nav a.test {
    border-bottom: 3px solid #FF7C03;
}

nav .bar .close {
    display: none;
}

nav .bar.active .open {
    display: none;
}

nav .bar.active .close {
    display: initial;
}

nav ul {
    display: flex;
}

nav ul li {
    list-style: none;
    margin: 0 25px;
}

nav ul li a {
    text-decoration: none;
    color: #000;
    font-size: 12px;
}

nav ul li:hover a {
    color: #fff;
}
/* ----------------- for the language------------- */
.language-selector {
    position: relative;
  }
  
  .current-language {
    background-color: transparent;
    border: none;
    color: #000;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 12px;
  }
  
  .current-language img {
    width: 30px;
    height: 19px;
    margin-right: 5px;
  }
  
  .language-list {
    color: #000;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    list-style: none;
    padding: 0;
    margin: 0;
    border: 1px solid #ccc;
  }
  
  .language-list.active {
    display: block;
  }
  
  .language-list li {
    display: flex;
    padding: 10px;
    cursor: pointer;
    font-size: 12px;
    margin: 0;
    

  }

  .language-list li .brazil {
color: red;
  }
   .language-list li img {
    width: 30px;
   }
  .language-list li:hover {
    background-color: #f0f0f0;
    color: #FF7C03;
  }

/* ===== end of the Header ===== */



/* ============ for the first section ================ */
.container {
    /* margin-top: 20rem; */
    width: 100%;
    height: 475px;
    padding-top: 10rem;
    background-image: url('/images/b5.png');
    background-size: cover;
    background-position: center;
    padding: 20px;
}

.container h1,
.container p {
    text-align: center;
    margin: 0;
}

.container h1 {
    padding-top: 3rem;
    font-weight: bold;
    font-size: 3rem;
    text-shadow: 2px 2px #7d7c7c;
    color: #fff;
}



.container p {
    color: #000;
    font-size: 15px;
    font-weight: 700;
}

.container .smd {
    text-align: center;
    color: #000;
    font-size: 13px;
    font-weight: 400;
}

.container p img {
    width: 56px;
}

@media (max-width:768px) {

    nav ul {
        opacity: 0;
        pointer-events: none;
        flex-direction: column;
        position: absolute;
        align-items: center;
        z-index: 100;
        right: -10px;
        border-radius: 5px;
        padding: 30px 40px 10px;
        background: #F8AF5B;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .5);
        transition: 0.5s;

    }

    nav ul.active {
        opacity: 1;
        pointer-events: all;
    }

    nav ul li {
        margin: 8px 0;
    }

    nav .bar {
        display: initial;
        right: 56;
    }

    .topBtn {
        width: 35px;
        height: 35px;
        right: 35px;
    }

    .topBtn i {
        font-size: 20px;
    }

    .container h1 {
        font-size: 2rem;
    }

    .main .container {
        margin-top: -26px;
        height: 400px;

    }

    /* .container1 {
        flex-direction: column;
        height: auto;
    }

    .calendar,
    .schedule {
        width: 100%;
        max-width: none;
    } */
    /* .container1 {
        flex-direction: column;
    }

    .calendar {
        width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
    }

    .schedule {
        width: 100%;
        margin-left: 0;
    } */


}

@media (max-width:425px) {
    nav ul li a {
        font-size: 14px;
    }

    nav .bar {
        right: 30px;
    }

    .footer .socialIcons a i {
        font-size: 12px;
        margin: 0px 5px;
    }

    .title span {
        font-size: 22px;
    }

    .title:before {
        width: 240px;
        top: 42%;
    }

    .header .logo img {
        width: 70px;
        padding: 0;
    }

    #f-footer ul li {
        padding: 0;
    }


    .main .container {
        margin-top: -40px;
        height: 300px;

    }

    .weekdays div,
    .days div {
        font-size: 10px;
    }

    .shadow {
        margin-top: 65px;
        margin-bottom: 70px;
    }

    .standardTime {
        width: 85%;
        margin: 20px 20px;
    }


}



@media (max-width:300px) {
    nav ul li a {
        font-size: 14px;
    }

    nav .bar {
        right: 30px;
    }

    .footer .socialIcons a i {
        font-size: 12px;
        margin: 0px 5px;
    }

    .title span {
        font-size: 22px;
    }

    .title:before {
        width: 240px;
        top: 42%;
    }

    .header .logo img {
        width: 10px;
        padding: 0;
    }




    #f-footer ul li {
        padding: 0;
    }


    .main .container {
        margin-top: -40px;
        height: 300px;

    }


}

/* ------------- end for the firts section ------------------ */



/* ------------- for the second section ------------------ */


.selectOption {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 10px 180px;
}

/*the container must be positioned relative:*/
.custom-select {
    font-size: 11px;
    padding: 7px 2px;
    font-weight: 600;
    position: relative;
    font-family: Arial;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .5);
    color: #FF7C03;
}

.custom-select select {
    display: none;
    /*hide original SELECT element:*/
}

.select-selected {
    background-color: white;
    /* width: 100px; */
}

/*style the arrow inside the select element:*/
.select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #FF7C03 transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
    border-color: transparent transparent #FF7C03 transparent;
    top: 7px;
}

/*style the items (options), including the selected item:*/
.select-items div,
.select-selected {

    padding: 8px 16px;
    /* border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent; */
    cursor: pointer;
    user-select: none;
}

/*style items (options):*/
.select-items {

    position: absolute;
    background-color: white;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
    font-size: 10px;
    color: black;
    font-weight: 400;
    border: 0.5px solid #F8AF5B;
}

/*hide the items when the select box is closed:*/
.select-hide {
    display: none;
    border: 0.5px solid #F8AF5B;

}

.select-items div:hover,
.same-as-selected {
    background-color: #f6c394;
    border: 1px solid #FF7C03;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .5);


}

h2 {
    margin-top: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #FF7C03;
    font-size: 22px;
    font-weight: 600;
    margin-left: 170px;
}

p {
    color: black;
}














/* =========== for the footer and responsive =============================== */

#f-footer {

    background: #121212;

}

#f-footer ul {
    display: flex;
    justify-content: center;
    text-decoration: none;


}

#f-footer ul li {

    list-style: none;
    padding: 20px 30px;
    margin: 20px;

}

#f-footer ul li a {

    text-decoration: none;
    color: #FF7C03;
    font-size: 10px;
}


#f-footer ul li:hover a {
    color: white
}

.f-footer hr {
    border: none;
    height: 2px;
    background-color: #F8AF5B;
    margin-left: -20px;
    padding-right: -40rem;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: -20px;
}

.footer {
    background-color: #413E3E;
    display: flex;
    justify-content: space-between;
    padding: 5px 20px;
    align-items: center;
    box-shadow: 0 -1px 2px rgba(255, 255, 255, 0.2);
}

.footer h6 {
    padding-left: 10px;
    color: #FF7C03;
    margin-bottom: -8px;
}

.footer .socialIcons a i {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    margin: 0 10px;
    color: black;
    transition: 0.5s;
    cursor: pointer;
}

.copy {
    font-size: 10px;
    color: #000;
}

.footer .socialIcons a:hover i {
    transform: translateY(-10px) scale(1.2);
    color: rgba(0, 182, 182);
}

.topBtn {
    width: 45px;
    height: 45px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 60px;
    right: 50px;
    cursor: pointer;
}

.topBtn i {
    font-weight: 2rem;
    font-size: 35px;
    color: #FF7C03;
    text-decoration: none;

}

@media (max-width:1024px) {
    .header {
        padding: 40px 25px;
    }

    .header[data-scroll="in"] {
        padding: 10px 25px;
    }

    nav ul li {
        margin: 0 20px;
    }


}

@media (max-width:768px) {

    nav ul {
        opacity: 0;
        pointer-events: none;
        flex-direction: column;
        position: absolute;
        align-items: center;
        z-index: 100;
        right: -10px;
        border-radius: 5px;
        padding: 30px 40px 10px;
        background: #F8AF5B;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .5);
        transition: 0.5s;

    }

    nav ul.active {
        opacity: 1;
        pointer-events: all;
    }

    nav ul li {
        margin: 8px 0;
    }

    nav .bar {
        display: initial;
        right: 56;
    }

    .topBtn {
        width: 35px;
        height: 35px;
        right: 35px;
    }

    .topBtn i {
        font-size: 20px;
    }



}

@media (max-width:630px) {
    .header {
        padding: 25px 50px;
    }

    .header[data-scroll="in"] {
        padding: 10px 50px;
    }

    .logo {
        font-size: 35px;
    }

    nav .bar {
        right: 35px;
    }

    nav ul {
        flex-direction: column;
        position: absolute;
        align-items: center;
        z-index: 100;
        right: -30px;
        border-radius: 5px;
        padding: 30px 40px 10px;
        background: #F8AF5B;
    }

    .footer {
        padding: 10px 20px;
        ;
    }

    .footer .socialIcons a i {
        font-size: 25px;
        margin: 0 7px;
    }

    .footer .copy {
        font-size: 12px;
    }

    .topBtn {
        bottom: 55px;
    }

    .container {
        margin-top: 110px;

    }

    .container h1,
    .container p {
        text-align: center;
        margin: 0;
        padding: 0;
    }

    .container h1 {
        font-weight: bold;
        font-size: 25px;
        text-shadow: 1px 1px #7d7c7c;
    }

    .container p {
        font-weight: bold;
        font-size: 12px;
    }


}

@media (max-width:425px) {
    nav ul li a {
        font-size: 14px;
    }

    nav .bar {
        right: 30px;
    }

    .footer .socialIcons a i {
        font-size: 12px;
        margin: 0px 5px;
    }

    .title span {
        font-size: 22px;
    }

    .title:before {
        width: 240px;
        top: 42%;
    }

    .header .logo img {
        width: 70px;
        padding: 0;
    }

    #f-footer ul li {
        padding: 0;
    }

    .container {
        margin-top: 100px;
    }

    .container h1 {
        font-weight: bold;
        font-size: 19px;
        text-shadow: 1px 1px #7d7c7c;
    }

    .container p {
        font-weight: bold;
        font-size: 12px;
    }

    .container .smd {
        font-size: 11px;
    }

    .selectOption {
        width: 200px;

    }
}




/* ========= for the calendar ======== */
.container1 {
    margin: 10px;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calendar {
    border-radius: 10px;
    width: 30rem;
    /* height: 52rem; */
    background-color: #fff;
    box-shadow: 0 0.5rem 3rem rgba(0, 0, 0, 0.4);
    margin-right: 5px;
}

.schedule {
    border: solid 1px orange;
    width: 29rem;
    /* height: 52rem; */
    background-color: #fff;
    box-shadow: 0 0.5rem 3rem rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}

.details {
    /* border: solid 1px orange; */
    width: 78%;
    height: 40rem;
    background-color: #fff;
    box-shadow: 0 0.5rem 3rem rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    margin-left: 12rem;
}

.month {
    box-shadow: 0 0.5rem 3rem rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    width: 100%;
    height: 100px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    text-align: center;
    text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
}

.month i {
    color: orange;
    font-size: 2rem;
    cursor: pointer;
}

.month h1 {
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    margin-bottom: 0rem;
}

.month p {
    font-size: 18px;
}

.time {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
    /* height: 12rem; */
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
    text-align: center;
    text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
}

/* .time i {
    color: orange;
    font-size: 2.5rem;
    cursor: pointer;
  } */

.time h1 {
    font-size: 3rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    margin-bottom: 1rem;
}

.time p {
    font-size: 1.6rem;
}

.weekdays {
    width: 100%;
    height: 5rem;
    padding: 0 0.4rem;
    display: flex;
    align-items: center;
}

.weekdays div {
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.1rem;
    width: calc(29.2rem / 7);
    display: flex;
    justify-content: center;
    align-items: center;
    /* text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5); */
}

.days {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0.2rem;
}

.days div {
    font-size: 13px;
    margin: 0.3rem;
    width: calc(25.2rem / 7);
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5); */
    transition: background-color 0.2s;
}

.days div:hover:not(.today) {
    background-color: rgb(236, 205, 146);
    border: solid 1px orange;
    color: #fff;
    border-radius: 100%;
    border: 0.2rem solid orange;
    cursor: pointer;
}


.prev-date,
.next-date {
    opacity: 0.5;
}

.today {
    height: 2rem;
    width: 2rem;
    background-color: orange;
    border-radius: 100%;
    background-color: transparent;
    border: solid 2px orange;
}

.shadow {
    text-align: center;
    margin-top: 95px;
    /* margin-bottom: 90px; */
}

.focus {
    outline: none;
    cursor: pointer;
    height: 50px;
    width: 110px;
    border-radius: 10px;
    border: solid 1px #fff;
    background-color: #fff;
    margin: 20px 20px;
    font-size: 14px;
    color: orange;
    font-weight: bold;
    box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);

}

.standardTime {
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
    outline: none;
    /* cursor: pointer; */
    height: 50px;
    width: 90%;
    border-radius: 15px;
    border: solid 1px #fff;
    background-color: #f6c394;
    margin: 30px 20px;
    font-weight: bold;
    margin-bottom: 100px;
}

.standardTime small {
    color: #f05d35;
    font-size: 14px;

    letter-spacing: 2px;
    font-weight: 400;
}

/* .test {
  } */

.focus:hover {
    background-color: rgb(236, 205, 146);
    border: solid 1px orange;
    color: #fff;
}

/* .active:active {
    color: red;
  } */
.focus:focus {
    color: #f05d35;
    background-color: rgb(236, 205, 146);
    border: solid 1px orange;

}

/* :target {
    color: red;
  } */

.active:active {
    color: #f05d35;
    background-color: rgb(236, 205, 146);
    border: solid 1px orange;
}

.actives {
    border-radius: 100%;
    color: #fff;
    background-color: rgb(236, 205, 146);
    border: solid 2px orange;
}

/* ========= for the calendar end ======== */



/* ================== for details ============== */
#contact {
    display: flex;
    justify-content: center;
    background: white;
    margin: 20px 170px;
    overflow-x: hidden;
    box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.5);
    border-radius: 10px;

}


.contactBox {
    display: flex;
}

.contactBox .left {
    width: 800px;
    transform: translateX(-100px);
    opacity: 0;
    transition: 0.5s;
}

.contactBox .left[data-scroll="in"] {
    transform: translateX(0px);
    opacity: 1;
}



.contactBox .left form .genInfo,
.subject,
.remind,
.message {
    display: flex;
    justify-content: space-between;

}

.contactBox .left form input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #C0BCBC;
    background-color: #F6F2EE;
    font-size: 14px;
    margin: 10px 0;
    margin: 1rem;
    height: 50px;
    color: #FF7C03;
}

.contactBox .left form input:focus {
    outline: none;
}

.contactBox .left form textarea:focus {
    outline: none;
}

.contactBox .left form textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
    border: 1px solid #C0BCBC;
    background-color: #F6F2EE;
    margin: 1rem;
    color: #FF7C03;
    margin-bottom: 70px;
}


.contactBox .left form .remind input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #F8AF5B;
    background-color: #f6d0a5;
    font-size: 14px;
    margin: 10px 0;
    margin: 1rem;
    height: 50px;
    color: #FF7C03;
}

.contactBox .left form .remind input::placeholder {
    color: #FF7C03;
}

.contactBox .left form .remind img {
    width: 20px;
    height: 20px;
    margin-left: 15px;
    justify-content: center;
}

h5 {
    display: flex;
    margin: 1rem;
    background: #f5ceaa;
    color: #000;
    align-items: center;
    border-radius: 5px;
    width: 800px;
}

h5 small {
    padding-left: 18px;
    font-weight: 400;
    font-size: 14px;
    padding: 18px;
    color: #f05d35;

}


.booking {
    margin-top: 60px;
    text-align: center;
}

.booking small {
    color: black;
    font-size: 12px;
}

.booking small span {
    color: #FF7C03;
}

.btnBook {
    height: 30px;
    width: 200px;
    border-radius: 3px;
    box-shadow: none;
    border: 1px solid #000;
    background: #FC9E11;
    color: #fff;
}

.hr {
    margin: 2rem;
    color: #FC9E11;
    border-style: dashed;
}

@media (max-width:768px) {
    /* --------------------- for calendar --------------- */

    .container1 {
        flex-direction: column;
    }

    .calendar {
        margin-right: 0;
        margin-bottom: 20px;

    }

    .schedule {
        margin-left: 0;
    }

    .shadow {
        margin-top: 30px;
    }

    .focus {
        height: 30px;
        width: 90px;
        font-size: 10px;
        box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);

    }

    .standardTime {
        align-items: center;
        height: 35px;
        width: 90%;
        border-radius: 10px;
        font-weight: bold;
        margin-bottom: 50px;
    }

    .standardTime small {
        font-size: 10px;
        font-weight: 600;
    }

    /* ----------------------------------------------------------- */

    /* --------------------- for add details --------------- */

    h5 small {
        padding-left: 18px;
        font-weight: 400;
        padding: 18px;
        color: green;

    }

    #contact {
        background: white;
        margin: 20px 20px;
        overflow-x: hidden;
        box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.5);
        border-radius: 10px;
        padding: 0;

    }

    .contactBox .left form .genInfo,
    .subject,
    .remind,
    .message {
        display: block;
        justify-items: center;
    }

    .contactBox .left {
        width: 300px;

    }

    h5 {
        width: 300px;
    }

}

@media (max-width:376px) {
    h5 small {
        color: red;

    }

    #contact {
        background: white;
        margin: 200px 20px;
        overflow-x: hidden;
        box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.5);
        border-radius: 10px;

    }

    .contactBox .left form .genInfo,
    .subject,
    .remind,
    .message {
        display: block;
        justify-items: center;


    }

    .contactBox .left {
        width: 200px;

    }

    h5 {
        width: 200px;
        font-size: 10px;
    }

}
@media (max-width:550px) {
    /* --------------------- for calendar --------------- */

    .container1 {
        flex-direction: column;
        width: auto;
        align-items: center;
        margin: 0;
    }

    .calendar {
        margin-right: 0;
        margin-bottom: 10px;

    }

    .schedule {
        margin-left: 0;
        width: 80%;
    }

    .shadow {
        margin-top: 10px;
        justify-content: center;

    }

    .focus {
        height: 30px;
        width: 90px;
        font-size: 10px;
        box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);

    }

    .standardTime {
        align-items: center;
        height: 35px;
        width: 90%;
        border-radius: 10px;
        font-weight: bold;
        margin-bottom: 50px;
    }

    .standardTime small {
        font-size: 10px;
        font-weight: 600;
    }

    /* ----------------------------------------------------------- */

    /* --------------------- for add details --------------- */

    h5 small {
        color: red;

    }

    #contact {
        background: white;
        margin: 100px 40px;
        overflow-x: hidden;
        box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.5);
        border-radius: 10px;
        padding: 0;

    }

    .contactBox .left .genInfo,
    .subject,
    .remind,
    .message {
        display: block;
        justify-items: center;


    }

    .contactBox {
        padding: 0;
    }

    .contactBox .left {
        width: 200px;

    }

    h5 {
        margin: 0;
        margin-bottom: 10px;
        width: 200px;
        font-size: 10px;
    }

    .contactBox .left form input {
        margin: 0;
        margin-bottom: 20px;
    }

    .contactBox .left form textarea {
        margin: 0;
        margin-bottom: 30px;

    }

    h2 {
        display: none;
        margin-top: 0;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: #FF7C03;
        font-size: 15px;
        font-weight: 600;

    }
    .calendar {
       
        width: 20rem;
       
        margin-right: 0px;
    }
    .days div {
        height: 30px;
        margin: 0.3rem;
        width: calc(14.2rem / 7);
    }
    .weekdays div {
        font-size: 10px;
        width: calc(18.2rem / 7);
    }
    .selectOption {

        margin: 0px 100px;
        margin-bottom: -5rem;
    }
    .container1 {
        margin-bottom: -8rem;
    }
}

@media (max-width:415px) {
    /* --------------------- for calendar --------------- */

    .container1 {
        flex-direction: column;
        width: auto;
        align-items: center;
        margin: 0;
    }

    .calendar {
        margin-right: 0;
        margin-bottom: 10px;

    }

    .schedule {
        margin-left: 0;
        width: 80%;
    }

    .shadow {
        margin-top: 10px;
        justify-content: center;

    }

    .focus {
        height: 30px;
        width: 90px;
        font-size: 10px;
        box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);

    }

    .standardTime {
        align-items: center;
        height: 35px;
        width: 90%;
        border-radius: 10px;
        font-weight: bold;
        margin-bottom: 50px;
    }

    .standardTime small {
        font-size: 10px;
        font-weight: 600;
    }

    /* ----------------------------------------------------------- */

    /* --------------------- for add details --------------- */

    h5 small {
        color: red;

    }

    #contact {
        background: white;
        margin: 100px 40px;
        overflow-x: hidden;
        box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.5);
        border-radius: 10px;
        padding: 0;

    }

    .contactBox .left .genInfo,
    .subject,
    .remind,
    .message {
        display: block;
        justify-items: center;


    }

    .contactBox {
        padding: 0;
    }

    .contactBox .left {
        width: 200px;

    }

    h5 {
        margin: 0;
        margin-bottom: 10px;
        width: 200px;
        font-size: 10px;
    }

    .contactBox .left form input {
        margin: 0;
        margin-bottom: 20px;
    }

    .contactBox .left form textarea {
        margin: 0;
        margin-bottom: 30px;

    }

    h2 {
        display: none;
        margin-top: 0;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: #FF7C03;
        font-size: 15px;
        font-weight: 600;

    }
    .calendar {
       
        width: 20rem;
       
        margin-right: 0px;
    }
    .days div {
        height: 30px;
        margin: 0.3rem;
        width: calc(14.2rem / 7);
    }
    .weekdays div {
        font-size: 10px;
        width: calc(18.2rem / 7);
    }
    .selectOption {

        margin: 0px 100px;
        margin-bottom: -5rem;
    }
    .container1 {
        margin-bottom: -8rem;
    }
}

.none-active {
    color: #7a7a7a8f;
    /* cursor: not-allowed; */
}
.none-active {
    opacity: 0.5;
}
/* CSS for the modal */
#confirmationModal {
    display: none;
    text-align: center;
    position: fixed;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* background-color: white; */
    padding: 20px;
    /* border-radius: 5px; */
    /* box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); */
  }
  
  #confirmationModal .modal-content {
    background-color: #fff;
    margin: 10% auto;
    padding: 20px;
    border: 2px solid #F8AF5B;
    width: 100%;
    border-radius: 10px;
  }
  
  #confirmationModal .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  #confirmationModal button  {
    color: #FF7C03;
    border: 1px solid #FF7C03;
    background-color: transparent;
    padding: 4px;
    border-radius: 3px;
    cursor: pointer;
    font-weight: 600;
    margin-top: 10px;
  }
  
  #confirmationModal button a {
    color: #FF7C03;
  }
  
  #confirmationModal button:hover {
    background-color: #FF7C03;
    color: #fff;
  }
  
  #confirmationModal button a:hover {
    color: #fff;
  }
  
  #confirmationModal form,
  #confirmationModal button {
    display: inline-block;
    margin-right: 5px;
  }
  

/* Add other CSS styles as needed */
/*for the inline notification css */
.inline-notification {
    display: none;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    color: #333;
    margin-bottom: 15px;
    margin-top: 10px;
    }
.inline-notification.success {
    background-color: #f5ceaa;
    color: #FF7C03
    }
.inline-notification.error {
    background-color: #F8AF5B;
    color: #fff;
    }
.invalid-email-notification {
    background-color: #F8AF5B;
    color: #fff;
}
    .modal2 {
        display: none; /* Hide the modal by default */
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto; /* Enable scrolling if the content is too tall */
        background-color: rgba(0, 0, 0, 0.4); /* Overlay background */
    }

    .modal-content2 {
        background-color: #fff;
        margin: 10% auto; /* Center the modal vertically */
        padding: 20px;
        border: 2px solid #F8AF5B;
        width: 50%;
        color: #121212;
        opacity: 0.9;
        border-radius: 8px;
    }
    .modal-content2 p, h4 {
        margin-top: 5px;
    }



