body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: rgba(184, 174, 174, 0.287);
  color: #FF7C03;
  font-family: "Montserrat", sans-serif;
}

.material-icons-outlined {
  vertical-align: middle;
  line-height: 1px;
}

.grid-container {
  display: grid;
  grid-template-columns: 260px 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 3fr;
  grid-template-areas:
    "sidebar header header header"
    "sidebar main main main";
  height: 100vh;
}


/* ---------- HEADER ---------- */

.header {
  grid-area: header;
  height: 90px;
  /* background-color: #F8AF5B; */
  background: linear-gradient(to right, #F8AF5B, #f8f6f2);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px 0 30px;
  box-shadow: 0 6px 7px -4px rgba(0, 0, 0, 0.2);
}

.menu-icon {
  display: none;
}

/* .header-right span {
  font-size: 25px;
  color: #FF7C03;
  font-weight: bold;
  cursor: pointer;
}

.header-right span img {
  width: 35px;
  border: 1px solid #FF7C03;
  border-radius: 50%;
} */
.header-right {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-direction: column; 
  text-align: center; 
}

.header-right span {
  font-size: 25px;
  color: #FF7C03;
  font-weight: bold;
  cursor: pointer;
}

.header-right span img {
  width: 35px;
  border: 1px solid #FF7C03;
  border-radius: 50%;
}

.header-right p {
  margin: 0;
  font-size: 14px;
  font-weight: bold;
}




 /* Styling for the dropdown menu */
 .dropdown-content {
  display: none;
  position: absolute;
  background-color: #F8AF5B;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 5px;
  margin-left: -60px;
  width: 115px;
  margin-top: 62px;
}

/* Styling for the dropdown items */
.dropdown-item {
  padding: 10px;
}
.header-right a {
color: #fff;
font-weight: 600;
font-size: 14px;
text-decoration: none;


}


.dropdown-item:hover{
cursor: pointer;
background: #FF7C03;
}




/* ---------- SIDEBAR ---------- */

#sidebar {
  grid-area: sidebar;
  height: 100%;
  background: linear-gradient(to bottom, #F8AF5B, #f8f6f2);
  color: #FF7C03;
  overflow-y: auto;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

.sidebar-title {
  display: flex;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px 20px 20px;
  margin-bottom: 80px;
}

.sidebar-title > span {
  display: none;
}

.sidebar-brand {
  margin-top: 15px;
  font-size: 25px;
  font-weight: 700;
  color: #FF7C03;
  text-shadow: 2px 2px 4px rgba(238, 203, 121, 0.915);


}

.sidebar-list {
  padding: 0;
  margin-top: 15px;
  list-style-type: none;
}

.sidebar-list-item {
  padding: 20px 20px 20px 20px;
}

.sidebar-list-item:hover {
  background-color: #FF7C03;
  cursor: pointer;
}

.sidebar-list-item > a {
  text-decoration: none;
  color: #000;
  font-weight: 600;
  font-size: 17px;
}
.sidebar-list-item > a:hover{
  text-decoration: none;
  color: #ffffff;
}
.sidebar-list li a span{
  color: #FF7C03;
}

.sidebar-responsive {
  display: inline !important;
  position: absolute;

  
  /*
    the z-index of the ApexCharts is 11
    we want the z-index of the sidebar higher so that
    the charts are not showing over the sidebar 
    on small screens
  */
  z-index: 12 !important;
}


/* ---------- MAIN ---------- */

.main-container {
  grid-area: main;
  overflow-y: auto;
  padding: 20px 20px;
 
}
.main-container a button {
  color: #fff;
  border:1px solid transparent;
  background-color: #FF7C03;
  padding: 5px;
  border-radius: 3px;
  margin-bottom: 5px;
  cursor: pointer;
}
.main-container a button:hover{
  background-color: transparent;
  color: #FF7C03;
  border: 1px solid #FF7C03;
}

.main-title {
  align-items: center;
  justify-content: center;
  display: flex;
  justify-content: space-between;
}

.main-title > p {
  font-size: 25px;
  
}



.charts-card {
  background-color: #ffffff;
  margin-bottom: 20px;
  padding: 25px;
  box-sizing: border-box;
  -webkit-column-break-inside: avoid;
  /* border: 1px solid; */
  border-radius: 5px;
  box-shadow: 0 6px 7px -4px rgba(0, 0, 0, 0.2);
  height: auto;
}

.chart-title {
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
  text-align: center;
  font-size: 14px;
  font-weight: 600;
}

table tr td a button {
  color: #fff;
  cursor: pointer;
  background: #FF7C03;
  border:1px transparent;
  padding: 5px;
  border-radius: 3px;
  font-weight: 600;
  
}
table tr td a button:hover{
  background-color: #fff;
  color: #FF7C03;
  border: 1px solid #FF7C03;
}



/* ---------- SCROLLBARS ---------- */

::-webkit-scrollbar {
  width: 5px;
  height: 6px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #a5aaad;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #FF7C03;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a5aaad;
}


/* ---------- MEDIA QUERIES ---------- */


/* Medium <= 992px */
@media screen and (max-width: 992px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 3fr;
    grid-template-areas:
      "header"
      "main";
  }

  #sidebar {
    display: none;
  }

  .menu-icon {
    display: inline;
  }

  .sidebar-title > span {
    display: inline;
  }
}

/* Small <= 768px */
@media screen and (max-width: 768px) {
  .main-title p{
      font-size: 15px;
      font-weight: 600;

    }

  .charts {
    grid-template-columns: 1fr;
    margin-top: 30px;
  }
}

/* Extra Small <= 576px */
@media screen and (max-width: 576px) {
  .header-left {
    display: none;
  }
 
}

  /* Media query for smaller screens */
  @media (max-width: 768px) {
    .charts {
        flex-direction: column;
        padding: 0;
    }

    .charts-card {
        overflow-x: hidden;
        font-size: 10px;
        margin: 0;
        padding: 10px;
        
    }
    table tr td a button {
      font-size: 9px;
    }
}

.active{
  color: #FF7C03;
}
                              
                              
.active::before{
  content: '';
  position: absolute;
  left: 0;
  width: 4px;
  height: 32px;
  background-color: #FF7C03;
                              
}

tr:hover {
  background-color: #f6c394;
}
table {
  /* border-collapse: collapse; */
  width: 100%;
  /* background-color: ; */
}

th, td {
  text-align: left;
  padding: 8px;
 
}

tr:nth-child(even){background-color: #f2f2f2}

th {
  background: #f6c394;
  color: #FF7C03;
  margin: 10px;
}

/* FOR BUTTONS */
.buttons {
  display: flex;
  float: right;
}

.buttons button {
  cursor: pointer;
  margin: 16px;
  padding: 9px 15px;
  border-radius: 5px;
  border: none;
  background-color: #FF7C03;
  color: #fff;
  box-shadow: 0 6px 7px -4px rgba(0, 0, 0, 0.2);
}

.buttons button:hover {
  color: #FF7C03;
  background-color: #fff;
  border: 1px solid #FF7C03;
  font-weight: bold;
}

 /* Styles for the modal and overlay */
 .modal {
  display: none;
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal button  {
  color: #FF7C03;
  border: 1px solid #FF7C03;
  background-color: transparent;
  padding: 4px;
  border-radius: 3px;
  cursor: pointer;
  font-weight: 600;
  margin-top: 10px;
}
.modal button a {
  color: #FF7C03;
}
.modal button:hover {
  background-color:#FF7C03;
  color: #fff;
}
.modal button a:hover {
  color: #fff;

}
.modal form,
.modal button {
  display: inline-block;
  margin-right: 5px;
}

#logoutButton {
  color: #FF7C03;
  font-weight: 600;
}
#logoutButton:hover {
color: #fff;
}